@using StudentEvaluationSystem.Utility
@model List<Student>

@{
    ViewData["Title"] = "Index";
    ViewData["Heading"] = "Classes";
}

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('/images/bg_1.jpg');">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">Students</h2>
                <p>Available Students in Offa Grammar School.</p>
            </div>
        </div>
    </div>
</div>



<div class="my-5">
    <div class="container">
        @if (Model.Count > 0)
        {
            <table class="table table-sm table-striped">
            <thead class="table-primary">
                <tr>
                    <th>Name</th>
                    <th>@Html.DisplayNameFor(m => m.FirstOrDefault().CurrentClassId)</th>
                    <th>@Html.DisplayNameFor(m => m.FirstOrDefault().ClassOfEntryId)</th>
                    <th>@Html.DisplayNameFor(m => m.FirstOrDefault().YearOfEntry)</th>
                    <th>@Html.DisplayNameFor(m => m.FirstOrDefault().YearOfGraduation)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.LastName, @item.FirstName</td>
                    <td>@item.CurrentClass.Name</td>
                    <td>@item.ClassOfEntry.Name</td>
                    <td>@item.YearOfEntry</td>
                    <td>@item.YearOfGraduation</td>
                    <td>
                        <div class="btn-group" style="float:right;">
                            <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id" 
                               style="font-size:20px;"  data-toggle="tooltip" data-placement="top" title="Edit Student">
                            <i class="icon-more" style="font-size:20px;"></i>
                            </a>
                        <a class="btn btn-success" asp-action="ViewResult" asp-route-studentId="@item.Id" 
                           style="font-size:20px;"  data-toggle="tooltip" data-placement="top" title="View Results">
                            <i class="icon-bar-chart-o" style="font-size:20px;"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        }

        else
        {
            <div style="border:2px dashed #555; padding:5%"><p class="text-center">No Student Currently Available</p></div>
        }
    </div>
</div>

@section Scripts{ 

    <script>
    $(document).ready(function () {
        $(".table").DataTable({
            "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]]
  });

        var info = "@TempData["StudentSaved"]?.ToString()";

        if (info == "@Constant.Saved" || info == "@Constant.Updated") {
            toastr.success("Student " + info + " Successfully");
        }

    });
    </script>
}
