@using StudentEvaluationSystem.Utility
@model List<Student>

@{
    ViewData["Title"] = "Index";
    ViewData["Heading"] = "Classes";
}

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('/images/bg_1.jpg');">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">Students</h2>
                <p>Available Students in Offa Grammar School.</p>
            </div>
        </div>
    </div>
</div>



<div class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6 text-right">
                <a class="btn btn-primary" asp-area="Admin" asp-controller="Registration" asp-action="Student">
                    <i class="icon-user-plus"></i>&nbsp;New Student
                  </a>
            </div>
        </div>
        <br />
        @if (Model.Count > 0)
        {
            <table class="table table-sm table-striped">
            <thead class="table-primary">
                <tr>
                    <th>Name</th>
                    <th>@Html.DisplayNameFor(m => m.FirstOrDefault().CurrentClassId)</th>
                    <th>@Html.DisplayNameFor(m => m.FirstOrDefault().ClassOfEntryId)</th>
                    <th>@Html.DisplayNameFor(m => m.FirstOrDefault().YearOfEntry)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.LastName, @item.FirstName</td>
                    <td>@item.CurrentClass.Name</td>
                    <td>@item.ClassOfEntry.Name</td>
                    <td>@item.YearOfEntry</td>
                    <partial model="@item.Id" name="~/Views/Partial/_TableButtonPartial.cshtml" />
                </tr>
                }
            </tbody>
        </table>
        }

        else
        {
            <div style="border:2px dashed #555; padding:5%"><p class="text-center">No Student Currently Available</p></div>
        }
    </div>
</div>

@section Scripts{ 

    <script>
    $(document).ready(function () {
        $(".table").DataTable({
            "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]]
  });

        var info = "@TempData["StudentSaved"]?.ToString()";

        if (info == "@Constant.Saved" || info == "@Constant.Updated") {
            toastr.success("Student " + info + " Successfully");
        }

    });
    </script>
}
