@using StudentEvaluationSystem.Utility
@inject StudentEvaluationSystem.Data.ApplicationDbContext context
@model Student

@{
    ViewData["Title"] = "Index";
    ViewData["Heading"] = "Classes";
}

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4 d-print-none" style="background-image: url('/images/bg_1.jpg');">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">Classes</h2>
                <p>Available classes in Offa Grammar School.</p>
            </div>
        </div>
    </div>
</div>



<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-3 text-right"><a class="btn btn-primary d-print-none" asp-controller="Result" asp-action="Index"><i class="icon-edit"></i>&nbsp;Edit Mode</a></div>
            <div class="col-3 text-right"><button class="btn btn-primary d-print-none" onclick="Print()"><i class="icon-print"></i>&nbsp;Print</button></div>
        </div>
        <br />
        <table class="table table-sm table-bordered" border='0' cellpadding='0' cellspacing='0' align='center' style="width:50%; margin-left:25%;">
            <tr>
                <td>Reg Number:</td>
                <td>@Model.RegistrationNumber</td>
                <td rowspan='5' style="width:25%">
                    <img src="@Model.Photo" style="height:30%;width:100%" />
                </td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>@Model.FullName</td>
            </tr>
            <tr>
                <td>Class:</td>
                <td>@Model.CurrentClass.Name</td>
            </tr>
            <tr>
                <td>Sex:</td>
                <td>@Model.Sex</td>
            </tr>
            <tr>
                <td>Year of Entry:</td>
                <td>@Model.YearOfEntry</td>
            </tr>
        </table>

        <form method="post" class="mt-4 p-4" style="width:50%; margin-left:25%;border:1px solid #ccc;border-radius: 10px;box-shadow: 10px 10px #ccc;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row form-group">
                <div class="col-md-2"> <label>Session: </label></div>
                <div class="col-md-6">
                    <select id="sessions" asp-items="@(new SelectList(context.Sessions.ToList(),"Id","Name"))" class="form-control"></select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2"> <label>Term:</label></div>
                <div class="col-md-6">
                    <select id="terms" class="form-control"></select>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-success"  style="background-color:#28a745!important;color:#fff" asp-route-id="">Submit</button>
        </form>
    </div>
</div>

@section Scripts{

<script>
    $(document).ready(function () {


        var info = "@TempData["ClassSaved"]?.ToString()";

        if (info == "@Constant.Saved" || info == "@Constant.Updated") {
            toastr.success("Class " + info + " Successfully");
        }

        var items = "<option value='0'>--Select--</option>";
        $("#terms").html(items);

         //Bind term dropdownlist
        $("#sessions").change(function () {
            var sessionId = $("#sessions").val();
            var url = "/Admin/ExistingResult/GetSubTerms";

            $.getJSON(url, { SessionId: sessionId }, function (data) {  
                var item = "";
                $("#terms").empty();
                if (data != null) {
                    item += '<option value="' + 0 + '">' + "All" + '</option>'
                }

                $.each(data, function (i, term) {
                    item += '<option value="' + term.value + '">' + term.text + '</option>'
                });
                $("#terms").html(item);
            });

        });

    });

    function Print() {
        window.print();
    }
</script>
}
